<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dewz.plugins.wagadget.whatsapp_gadget">

    <application>
        <provider
            android:name="dewz.plugins.wagadget.whatsapp_gadget.ShareFileProvider"
            android:authorities="wagadegets.auth"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
